/* ESTILOS GERAIS */
:root {
    --background-color: white;
    --text-color-primary: black;
    --text-color-secundary: #333333;
    --header-background: burlywood;
    /* fundo principal do header */
    --header-top-bar-background: #8B5E3C;
    /* cor escura para top bar, para texto branco */
    --header-text-color: black;
    --footer-background: #333333;
    --footer-title-color: #f4b183;
    --footer-text-color: white;
    --footer-social-icons: #444;
    --button-background: #f4a261;
    --button-text-color: white;
    --button-hover-background: darkorange;
}

/*Global*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: var(--background-color);
    color: var(--text-color-primary);
    overflow-x: hidden;
}

main {
    background-color: gainsboro;
    padding: 2rem;
    flex-grow: 1;
}

/* Header */
.header {
    background-color: var(--header-background);
    color: var(--header-text-color);
    text-align: center;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px var(--text-color-secundary);
}

.header__top-bar {
    display: flex;
    justify-content: space-between;
    background-color: var(--header-top-bar-background);
    align-items: center;
    color: white;
    font-size: 0.9rem;
    padding: 0 1rem;
    /* para dar espaçamento lateral */
}

.header__contact-info {
    display: flex;
    gap: 15px;
}

.header__contact-item {
    display: flex;
    align-items: center;
    color: white;
    gap: 5px;
}

.header__social-icons {
    display: flex;
    gap: 10px;
}

.header__social-link {
    color: white;
    text-decoration: none;
}

.header__social-link:hover {
    color: var(--button-hover-background);
}

.header__logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-color-primary);
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header__nav-list {
    display: flex;
    gap: 20px;
    list-style: none;
}

.header__nav-item {
    margin: 0 1rem;
}

.header__nav-link {
    text-decoration: none;
    color: var(--text-color-primary);
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}

.header__nav-link:hover {
    color: var(--button-background);
}

.header__button {
    background-color: var(--button-background);
    color: var(--button-text-color);
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    /* para permitir padding */
    text-decoration: none;
    /* remove o sublinhado */
}

.header__button:hover {
    background-color: var(--button-hover-background);
}

